.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s;
    z-index: -1;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($colour-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &--white {
    background-color: $colour-white;
    color: $colour-grey-dark;
    margin-top: 4rem;

    &::after {
      background-color: $colour-white;
    }
  }
  &-text {
    &:link,
    &:visited {
      font-size: $default-font-size;
      color: $colour-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $colour-primary;
      padding: 3px;
      transition: all 0.2s;
    }
    &:hover {
      color: $colour-white;
      background-color: $colour-primary;
      box-shadow: 0 1rem 2rem rgba($colour-black, 0.15);
      transform: translateY(-2px);
    }
  }
  &--green {
    color: $colour-white;
    background-color: $colour-primary;

    &::after {
      background-color: $colour-primary;
    }
  }
}
