.navigation {
  &__checkbox {
    display: none;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(-135deg);
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  &__button {
    background-color: $colour-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($colour-black, 0.1);
    text-align: center;
    cursor: pointer;
  }
  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::after,
    &::before {
      height: 2px;
      width: 3rem;
      background-color: $colour-grey-dark-3;
      display: inline-block;
    }

    &::after,
    &::before {
      position: absolute;
      content: "";
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__background {
    background-image: radial-gradient(
      $colour-primary-light,
      $colour-primary-dark
    );
    position: fixed;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 1000;
    transition: transform 0.8s ease-in-out;
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s ease-in-out;
  }

  &__list {
    @include columnFlex();
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    position: absolute;
    list-style: none;
    text-align: center;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $colour-white 50%
      );
      text-decoration: none;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $colour-white;
      background-size: 220%;
      transition: all 0.4s;

      &:hover,
      &:active {
        background-position: 100%;
        color: $colour-primary;
        transform: translateX(1rem);
      }

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }
  }
}
